* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 2em 5em;
}
#Parallax {
    display: block;
    width: 850px;
    height: 375px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#Parallax * {
    position: absolute;
}
#Backgr0 {
    top: -55px;
    left: -55px;
    z-index: 1;
}
#Build_1 {
    top: 73px;
    left: 517px;
    z-index: 5;
}
#Build_2 {
    top: 113px;
    left: 812px;
    z-index: 4;
}
#CarShad {
    top: 263px;
    left: 372px;
    z-index: 6;
}
#CarBody {
    top: 150px;
    left: 362px;
    z-index: 8;
}
#CatShad {
    top: 317px;
    left: 321px;
    z-index: 7;
}
#CatBody {
    top: 114px;
    left: 306px;
    z-index: 9;
}
#Err_msg {
    top: 92px;
    left: 24px;
    z-index: 10;
}
/*


*/
.note {
    display: none;
    font: normal 8pt/9pt Helvetica;
    padding: .3em .6em;
    position: absolute;
    background-color: #ffc;
    z-index: 9999;
    -webkit-box-shadow: 1px 2px 3px #444;
    -moz-box-shadow: 1px 2px 3px #444;
}
label.control {
    float: left;
}
.control {
    margin: 2em;
}
br {
    clear: both;
}

