* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 5em;
}
#Parallax {
    display: block;
    width: 940px;
    height: 375px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#Parallax * {
    position: absolute;
}
#Parallax #Err_msg {
    top: 72px;
    left: 72px;
    z-index: 10;
}
#Parallax #CatBody {
    top: 94px;
    left: 356px;
    z-index: 9;
}
#Parallax #CarBody {
    top: 150px;
    left: 432px;
    z-index: 8;
}
#Parallax #CatShad {
    top: 297px;
    left: 371px;
    z-index: 7;
}
#Parallax #CarShad {
    top: 263px;
    left: 442px;
    z-index: 6;
}
#Parallax #Build_1 {
    top: 73px;
    left: 457px;
    z-index: 5;
}
#Parallax #Build_2 {
    top: 113px;
    left: 742px;
    z-index: 4;
}
#Parallax #Backgr0 {
    top: -55px;
    left: 0px;
    z-index: 1;
}
.note {
    display: none;
    font: normal 8pt/9pt Helvetica;
    padding: .3em .6em;
    position: absolute;
    background-color: #ffc;
    z-index: 9999;
    -webkit-box-shadow: 1px 2px 3px #444;
    -moz-box-shadow: 1px 2px 3px #444;
}
